:root {
    --primary:#ddd6fe;
    
}

* {
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

ul {
    list-style-type: none;

}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr ;
    height: 100vh;


}

.sidebar {
    grid-row: 1 / 4;
    background-color: #ddd6fe;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 30px;
    padding: 2rem;

}

.logo>img {
    width: 40px;
}

.logo {
    display: flex;
    gap: 15px;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
}

.menu {
    font-size: 20px;
    font-weight: 600;
}


.icon {
    width: 25px;
}


.menu>ul>li {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
}


.header {
    grid-column: 2 / 4;
    display: grid;
    gap: 15px;
    padding: 1rem 3rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    align-content: flex-start;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .2);
    z-index: 3;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;

}

input[type="text"] {
    border: 0;
    background-color: #e2e8f0;
    border-radius: 20px;
    flex: 1;
    height: 40px;
    text-indent: 15px;
}

input[type="text"]:focus {
    outline: none !important;
    border: 3px solid #ddd6fe;
    box-shadow: 0 0 2px #ede9fe;


}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.avatar {
    width: 40px;
}

.hello {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hello-text {
    font-weight: 600;
}
.hello-text p:nth-child(1) {
    font-size: 15px;
}

.hello-text p:nth-child(2) {
    font-size: 20px;
}

.avatar-large {
    width: 70px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

button {
    border: 0;
    background-color: #ddd6fe;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-weight: 600;
}

.content {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: #f1f5f9;
    padding: 1rem;
    overflow: auto;
    display: grid;
    grid-template-columns: 5fr minmax(200px,2fr);
    /* grid-template-rows: min-content 1fr;  */
    
}

.title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}


.projects-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
}

.card {
    background-color: #ede9fe;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-left: 6px solid #ddd6fe;
}



.card > p:nth-child(2) {
    font-size: 14px;
}

.card-icons {
    align-self: end;
    display: flex;
    gap: 10px;
}

.announcements {
    padding: 0 1rem;


}

.ann-card {
    background-color: #ede9fe;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.small-title {
    font-size: 14px;
    font-weight: 600;

}

.small-text {
    font-size: 10px;
}

hr {
    background-color: #ddd6fe;
    border: 1px solid #ddd6fe;
    border-radius: 7px 7px 7px 7px;
    height: 1px;
}

.trending-card {
    background-color: #ede9fe;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.avatar-section {
    display: flex;
    align-items: center;
    gap: 10px;
}



